In [10]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
sales_train = pd.read_csv('data/sales_train.csv')
shops = pd.read_csv('data/shops.csv') 
items = pd.read_csv('data/items.csv') 
item_categories = pd.read_csv('data/item_categories.csv')

In [3]:
sales_train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0

In [4]:
items

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40
...,...,...,...
22165,"Ядерный титбит 2 [PC, Цифровая версия]",22165,31
22166,Язык запросов 1С:Предприятия [Цифровая версия],22166,54
22167,Язык запросов 1С:Предприятия 8 (+CD). Хрустале...,22167,49
22168,Яйцо для Little Inu,22168,62
22169,Яйцо дракона (Игра престолов),22169,69

In [5]:
shops.sample(20)

                                shop_name  shop_id
15                   Калуга ТРЦ "XXI век"       15
59                 Ярославль ТЦ "Альтаир"       59
0           !Якутск Орджоникидзе, 56 фран        0
13                    Казань ТЦ "Бехетле"       13
48           Томск ТРЦ "Изумрудный Город"       48
32             Москва ТЦ "Серебряный Дом"       32
31                Москва ТЦ "Семеновский"       31
19                  Курск ТЦ "Пушкинский"       19
18                   Красноярск ТЦ "Июнь"       18
24       Москва ТК "Буденовский" (пав.К7)       24
35            Н.Новгород ТРЦ "Фантастика"       35
46                  Сергиев Посад ТЦ "7Я"       46
27         Москва ТЦ "МЕГА Белая Дача II"       27
45                   Самара ТЦ "ПаркХаус"       45
49                  Тюмень ТРЦ "Кристалл"       49
36  Новосибирск ТРЦ "Галерея Новосибирск"       36
2                        Адыгея ТЦ "Мега"        2
57                Якутск Орджоникидзе, 56       57
26            Москва ТЦ "Ареал" (Беляево)       26
30                 Москва ТЦ "Перловский"       30

In [6]:
item_categories.sample(20)

                   item_category_name  item_category_id
57                       Музыка - MP3                57
1                    Аксессуары - PS2                 1
10              Игровые консоли - PS2                10
82          Чистые носители (штучные)                82
27                   Игры MAC - Цифра                27
51  Книги - Познавательная литература                51
6               Аксессуары - XBOX 360                 6
7               Аксессуары - XBOX ONE                 7
44         Книги - Аудиокниги (Цифра)                44
29    Игры PC - Коллекционные издания                29
70     Подарки - Сувениры (в навеску)                70
13              Игровые консоли - PSP                13
67                 Подарки - Развитие                67
0             PC - Гарнитуры/Наушники                 0
17           Игровые консоли - Прочие                17
81            Чистые носители (шпиль)                81
19                         Игры - PS3                19
26               Игры Android - Цифра                26
45              Книги - Аудиокниги 1С                45
31                    Игры PC - Цифра                31

In [7]:
sales_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   date            object
 1   date_block_num  int64
 2   shop_id         int64
 3   item_id         int64
 4   item_price      float64
 5   item_cnt_day    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB